<div class="container">
  <% if @pokemon && @pokemon != {} %>
    <h1 class='display-4 my-5 text-center'><%= @pokemon[:name] %></h1>
    <div class="row row-cols-1">
      <div class="col-12 ">
        <div class="row row-cols-1 row-cols-md-2 bg-light" >
          <div class="col-12 col-md-6">
            <%= image_tag @pokemon[:img_url], class: "img-fluid p-3", alt: "pokemon image", onerror: "this.onerror=null;this.src='https://images.unsplash.com/photo-1542779283-429940ce8336?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80';"%>
          </div>
          <div class="col-12 col-md-6">
            <h2 class="m-4"><%="name : #{@pokemon[:name]}" %></h2>
            <h2 class="m-4"><%= "height : #{@pokemon[:height]}m" %></h2>
            <h2 class="m-4"><%= "weight : #{@pokemon[:weight]}kg" %></h2>
            <%# match the color %>
            <h2 class="m-4" style="color:<%= @pokemon.type1_color %>;"><%= "type 1 : #{@pokemon[:type1]}" %></h2>
            <% if @pokemon[:type2] %>
              <h2 class="m-4" style="color:<%= @pokemon.type1_color %>;"><%= "type 2 : #{@pokemon[:type2]}" %></h2>
            <% end %>
            <%# link_to 'Edit', @pokemon, class: "btn btn-info m-4 col-5" %>
            <%= link_to 'Edit', pokemons_path, class: "btn btn-info m-4 col-5" %>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <h1 class='display-4 my-5 text-center'>No Result</h1>
  <% end %>
</div>